img{
    width: 100%;
    border-radius: 20px;
}
.gg{
text-align: center;
}
.imgg{
    align-items: end;
    width: 130px;
}
h1{
      font-family: "Montserrat", sans-serif;

}
h2{
      /* font-family: "Rubik Mono One", monospace; */
      font-family: "Lora", serif;

}
h3{
    /* font-family: "Lora", serif; */
    font-family: "Cascadia Mono", sans-serif;
}
h5{
      font-family: "Unbounded", sans-serif;

}
p{
      font-family: "WDXL Lubrifont TC", sans-serif;

}
.nav-link{
    color: #000000;
    font-family: "Cascadia Mono", sans-serif;
}

  /*  font-family: "Cascadia Mono", sans-serif; */
  


body{
    background-color: #000000;
    color: #dddddd;
}

 
.car-wrap{
    border-bottom: 3px solid darkgrey;
    padding-top: 20px;
    margin-bottom: 50px;
}
.car-wrap .row{
    margin-top: 20px;
    margin-bottom: 20px;
}